<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('c2c_static', path='/favicon-32x32.png') }}"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('c2c_static', path='/favicon-16x16.png') }}"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/css/bootstrap.min.css"
      integrity="sha512-fw7f+TcMjTb7bpbLJZlP8g2Y4XcCyFZW8uy8HsRZsH/SwbMw0plKHFHr99DN3l04VsYNwvzicUX/6qurvIxbxw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Camptocamp ASGI Utils tools</title>
  </head>
  <body>
    <script>
      (() => {
        'use strict';
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.setAttribute('data-bs-theme', 'dark');
        }
      })();
    </script>
    <div class="container-fluid">
      <h1>Camptocamp ASGI Utils tools</h1>

      <!-- Authentication -->
      {% if auth_type in (AuthenticationType.SECRET, AuthenticationType.GITHUB) %}
      <h2>Authentication</h2>
      {% if auth_type == AuthenticationType.SECRET %}
      {% if not is_auth %}
      <form action="{{ request.url_for('c2c_index') }}" method="post" target="_self">
        <input type="password" name="secret" placeholder="Secret" required />
        <button type="submit">Login</button>
      </form>
      {% else %}
      <p>Authenticated with a secret.</p>
      {% endif %}
      {% elif auth_type == AuthenticationType.GITHUB %}
      {% if not is_auth %}
      <p>
        <a href="{{ request.url_for('c2c_github_login') }}">Login with GitHub</a>
      </p>
      {% else %}
      <p>
        Logged in as: <a href="{{ user['url'] }}">{{ user['name'] }}</a><br />
        <a href="{{ request.url_for('c2c_github_logout') }}">Logout</a>
      </p>
      {% endif %}
      {% endif %}
      <hr>
      {% endif %}

    </div>
  </body>
</html>
